.contactpaged .title h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin-top: 40px;
  margin-bottom: -40px;
  color: var(--blue);
  transition: 0.3s ease-in-out;
}
.pagemargin {
  margin: 10px 50px;
  margin-bottom: 30px;

  width: 100%;
  height: 100vh;
}

.aboutlanding {
  width: 100%;
  height: 70vh;
  display: flex;
  padding: 0 40px;
  transition: 0.8s ease-in-out;

  justify-content: center;
  align-items: center;
}

.aboutlanding .aboutlanding_left {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  animation: fromleft 0.5s linear;
}

@keyframes fromleft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.aboutlanding .aboutlanding_right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  width: 500px;
  animation: fromright 0.5s linear;
}

@keyframes fromright {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
}

.aboutlanding .aboutlanding_right .title h1 {
  font-size: 3em;
  margin: 20px 0px;
  color: var(--blue);
  transition: 0.3s ease-in-out;
}

.aboutlanding .aboutlanding_right .para p {
  color: var(--white);
  margin: 10px;
  text-align: justify;
  padding-right: 40px;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 1000px) {
  .aboutlanding {
    flex-direction: column;
  }

  .aboutlanding .aboutlanding_left {
    margin-top: 100px;
    width: 100%;
  }

  .aboutlanding .aboutlanding_left img {
    width: 300px;
  }

  .aboutlanding .aboutlanding_right {
    width: 100%;
  }

  .aboutlanding .aboutlanding_right .para p {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 606px) {
  .aboutlanding .aboutlanding_left {
    margin-top: 180px;
  }

  .pagemargin {
    margin: 10px 20px;
  }
}

@media only screen and (max-width: 379px) {
  .contactpaged .title h1 {
    font-size: 2em;
  }
  .aboutlanding .aboutlanding_left img {
    width: 200px;
  }

  .aboutlanding .aboutlanding_right .title h1 {
    font-size: 2em;
  }

  .aboutlanding .aboutlanding_right .para p {
    font-size: 14px;
  }

  .aboutlanding {
    padding: 0 10px;
  }
}
