.contactcontainer{
    position: relative;
}
section.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact_form{
    position: relative;
    width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 300;
  
}
.contact_form .contactInfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background-color:var(--dark_bg) ;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.contact_form .contactInfo h2{

    color: var(--white);
    font-size: 24px;
    margin: 10px 40px;
    font-weight: 600;
}
.contact_form .contactInfo ul.info{
    height: 100%;
position: relative;
margin: 20px 0;
}
.contact_form .contactInfo ul.info li
{
position: relative;
list-style: none;
display: flex;
margin: 20px 0;
cursor: pointer;
align-items: flex-start;
}
.contact_form .contactInfo ul.info li span:nth-child(1)
{
    width: 40px;
    min-width:40px;
    color: var(--white);
}
.contact_form .contactInfo ul.info li span:nth-child(2)
{
color: var(--white);
margin-left: 10px;
font-weight: 300;
}
.contact_form .contactInfo ul.graphics{
    width: 100%;
    overflow: hidden;
}
.contact_form .contactInfo ul.graphics li img{
    width: 100%;
}
.contact_form .contactForm
{
    position: absolute;
    padding: 50px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background-color: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}

.contact_form .contactForm h2{
    color: #090319;
    font-size: 24px;
    font-weight: 600;
}
.contact_form .contactForm .formbox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}
.contact_form .contactForm .formbox .inputbox
{
    position: relative;
    margin-bottom: 35px;
}
.contact_form .contactForm .formbox .inputbox.w50
{
    width: 47%;
}
.contact_form .contactForm .formbox .inputbox.w100
{
    width: 100%;
}
.contact_form .contactForm .formbox .inputbox input,
.contact_form .contactForm .formbox .inputbox textarea
{
    width: 100%;
resize: none;
padding: 5px 0;
font-size: 18px;
font-weight: 300;
color: #333;
outline: none;

border: none;
border-bottom: 2px solid var(--blue);
}
.contact_form .contactForm .formbox .inputbox textarea
{
    height: 80px;
}
.contact_form .contactForm .formbox .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.contact_form .contactForm .formbox .inputbox input:focus ~ span,
.contact_form .contactForm .formbox .inputbox input:valid ~ span,
.contact_form .contactForm .formbox .inputbox textarea:focus ~ span,
.contact_form .contactForm .formbox .inputbox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--blue);
}
.contact_form .contactForm .formbox .inputbox .btnnew
{
    margin: 0;
}

@media only screen and (max-width: 1200px)
{
    .contact_form{
      width: auto;
      box-shadow: rgba(0, 0, 0, 0.2);
    }
    .contact_form .contactInfo
    {
        top:0;
        height: 550px;
        position: relative;
        box-shadow: none;

    }
    .contact_form .contactForm 
    {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        
        box-shadow: none;

    }
}


@media only screen and (max-width: 840px)
{
    .contact_form{
        margin: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .contact_form .contactInfo
{
    width: 100%;
}
.contact_form .contactForm 
{
    width: 100%;

}
.contact_form .contactInfo ul.graphics
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_form .contactInfo ul.graphics li img{
    width: 400px;
}
}

@media only screen and (max-width: 520px)
{
    .contact_form .contactForm .formbox .inputbox input,
.contact_form .contactForm .formbox .inputbox textarea{
    font-size: 13px;
    margin-top: 10px;
}
    .contact_form .contactForm .formbox .inputbox.w50
{
    width: 100%;
}
.contact_form .contactForm .formbox .inputbox span{
    font-size: 12px
}
    .contact_form .contactForm .formbox{
        flex-direction: column;
   
    }
    .contact_form{
     
        justify-content: center;
        align-items: center;
    }
.contact_form .contactInfo
{
  
  width: 70%;

}
.contact_form .contactInfo h2{
    margin: 0;
}
.contact_form .contactForm 
{
   height:auto;
    width: 70%;

}
.contact_form .contactInfo ul.graphics
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_form .contactInfo ul.graphics li img{
    width: 250px;
    margin: 10px;
    padding: 30px;
}
.contact_form .contactInfo ul.info li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact_form .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width:30px;
    margin-bottom: 10px;
    color: var(--white);
}
.contact_form .contactInfo ul.info li span:nth-child(2)
{
color: var(--white);

font-size: 12px;
font-weight: 300;
}

}