.Intro
{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    padding: 40px;
    background-color: var(--bgcolorl);
}
.Title
{
    color: var(--blue);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.Title h1
{
    text-align: left;
    margin: 20px 0px;
    font-size: 2em;
}
.Intro p{
    color: var(--textcolor);
    line-height: 30px;
    letter-spacing: 1px;
    padding: 20px;
    text-align:justify;
}
.Intro .btnnew{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgl{
    background-color: var(--bgcolorl);
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1000px) {
.Title h1
{
    text-align: center;
    
    font-size: 1.5em;
}
}


@media only screen and (max-width: 500px) {
    .Intro
{
    padding: 0;
    padding-top: 100px;
}
.Title h1
{
    text-align: left;
    padding-left: 20px;
    
    font-size: 1.5em;
}
    .Intro p
    {
       
        
        font-size: 14px;
    }
    }

 @media only screen and (max-width: 450px) {
    
    .Intro p
    {
       
        
        font-size: 12px;
    }
 }