.Intro
{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.Title
{
    color: var(--blue);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.Title .iconimg svg
{
width: 50px;
font-size: 2em;

  padding-right: 0px;

  margin: 2px;
  animation: animate 3.2s linear infinite;
 
}
@keyframes animate {
  
    100%{
        transform: rotate(360deg);
    }
}
.Title h1
{
    text-align: center;
    margin: 40px 0px;
    font-size: 5em;
}
.Intro p{
    color: var(--textcolor);
    line-height: 30px;
    letter-spacing: 1px;
    padding: 20px;
    text-align:center;
}
.Intro .btnnew{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
.Title h1
{
    text-align: center;
    
    font-size: 3em;
}
}


@media only screen and (max-width: 500px) {
    .Intro
{
    padding: 0;
    padding-top: 100px;
}
.Title h1
{
    text-align: center;
    
    font-size: 1.5em;
}
    .Intro p
    {
       
        
        font-size: 14px;
    }
    }

 @media only screen and (max-width: 450px) {
    
    .Intro p
    {
       
        
        font-size: 12px;
    }
 }