.social{
    position: fixed;
  right: 0;
  top: 0;
   z-index: 999999999;
   
transform: translateY(300px);
  
}
.theme{
    width: 50px;
    position: fixed;
    z-index: 99999999;
    margin-top: 45px;
    margin-right: 35px;
    right: 0;
    top: 0;
    padding: 5px;
    border: 2px solid var(--white);
    border-radius: 25px;
}
.theme .tgle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
   float: left;
    background-color: var(--white);
    transition: .5s ease-in-out;
}
.light .tgle{
    
   float: right;
   background-color: var(--pink);
}
.light{
    border: 2px solid var(--pink);
    
 }

.social ul li{
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   color: #fff;
   list-style: none;
   
   padding: 10px;
   transform: translateX(34px);
   transition: .2s ease-in-out;
   
}
.social .iconimg svg
{
  width: 20px;
  padding-right: 25px;
  color: #fff;
  position: relative;
  margin: 2px;
  overflow: hidden;
}
.social ul li:nth-child(1){
   background-color: rgb(25, 25, 181);

}
.social ul li:nth-child(2){
   background-color: rgb(237, 6, 152);

}.social ul li:nth-child(3){
   background-color: rgb(5, 101, 235);

}.social ul li:nth-child(4){
   background-color: rgb(32, 46, 239);

}.social ul li:nth-child(5){
   background-color: rgb(173, 13, 13);

}

.social ul li:hover{
transform: translateX(10px);
}




.container {
    width: 100%;
    padding: 40px;
  
  
overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftcontent {
    padding: 40px 0px;
    color: var(--white);
    width: 40%;
    animation: animatel .6s ease-in-out;
}
@keyframes animatel {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);

    }
}

.leftcontent h1 {
    transition: .3s ease-in-out;
    font-size: 3em;
    margin: 30px 0px;
}

.rightcontent {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50%;
  animation: animater .6s  ease-in-out;
}
@keyframes animater {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);

    }
}

.rightcontent::before {
    content: '<';
    position: absolute;
    width: 40px;
    font-size: 4em;
    transform: translateX(-50px);
    font-weight: 700;
    margin-right: 50px;
    color: rgb(22, 7, 63);
    height: 40px;
    animation: before 3s infinite;
}

.rightcontent::after {
    content: '/>';
    width: 40px;
    font-weight: 700;

    font-size: 4em;
    color: rgb(22, 7, 63);
    position: absolute;
    margin-left: 50px;
    height: 40px;
    animation: after 3s infinite;

}

@keyframes before {
    0% {
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(-60px);

    }

    100% {
        transform: translateX(-30px);

    }
}

@keyframes after {
    0% {
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(0px);

    }

    100% {
        transform: translateX(-30px);

    }
}

span.space {
    letter-spacing: 5px;
}

.rightcontent img {
transition: .4s ease-in-out;
    width: 450px;

}

a {
    text-decoration: none;
    color: var(--white);
}

@media only screen and (max-width: 1200px) {
    .rightcontent img {

        width: 370px;

    }
}

@media only screen and (max-width: 1000px) {
    .landingpage{
        padding-top: 80px;
       }
    .content {
        flex-direction: column;
    }

    .leftcontent {

        width: 100%;
    }

    .rightcontent {
        width: 100%;
    }

    .leftcontent h1 {
        font-size: 2.5em;
    }

    .blankspot {

        height: 8vh;
    }

    .container {
        padding: 20px;
        margin-top: 40px;
    }

    .content {
        margin: 20px;
    }

    

    .leftcontent {
        width: 100%;
        padding: 20px;
    }

    .rightcontent img {

        width: 350px;

    }

    .rightcontent::before {
transform: translateX(10px);

        font-size: 2em;

    }

    .rightcontent::after {
        
        transform: translateX(-10px);
        font-size: 2em;
        margin: 0;
      

    }


    @keyframes before {
        0% {
            transform: translateX(-10px);
        }

        50% {
            transform: translateX(-20px);

        }

        100% {
            transform: translateX(-10px);

        }
    }

    @keyframes after {
        0% {
            transform: translateX(0px);
        }

        50% {
            transform: translateX(5px);

        }

        100% {
            transform: translateX(0px);

        }
    }

}

@media only screen and (max-width: 501px){
    
    .leftcontent h1 {
        font-size: 1.6em;
    }
    .rightcontent img {

        width: 250px;

    }
    .theme{
       
        margin-top: 35px;
        margin-right: 35px;
        right: 0;
        top: 0;
        padding: 5px;
        border: 2px solid var(--white);
        border-radius: 25px;
    }
}

@media only screen and (max-width: 350px){

    .container {
        padding: 20px;
        margin-top: 5px;
    }

    .content {
        margin: 20px;
    }
   
    
    

    .leftcontent {
        width: 100%;
        padding: 16px;
        padding-top: 0px;
    }
    .leftcontent h1{
        font-size: 1em;
    }

    .rightcontent img {

        width: 150px;

    }
    .rightcontent::before {
        margin: 1px;
        
            }

}