.technology
{
    height: 50vh;
    width: 100%;
   

}
.technology .content{
    display: flex;
    width: 100%;
    overflow: hidden;
    
    justify-content: center;
    align-items: center;
  

}
.limitwidth{
    width: 100%;
    padding: 20px;
}
.limitwidth img{
   width: 200px;
}
.dXJhVO {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 20px;
}
.Carousel__Rail-sc-hyhecw-2{
    width: 200px;
}

@media screen and (max-width: 767px)
{
.dXJhVO {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
}