/* @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap");
 */
/* @import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Source Code Pro, monospace; */
  /* font-family: "Arvo", serif; */
  font-family: "Mukta", sans-serif;
}

:root {
  --transition: 0.1s ease;
  --scale: 1;
  --transformx: 0px;
  --transformy: 0px;
  --scrollbarwidth: 10px;
  --transformz: 0px;
  --rotatex: 0deg;
  --imagescrolly: 0;
  --imagescrolly2: 0;
  --rotatey: 0deg;
  --rotatez: 0deg;
}
::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#loading {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
s .btnHoverEffect:hover .effect {
  padding-right: 8rem;
  color: #ffffff;
}

.btnHoverEffect:hover .readmore {
  color: #ffffff;
}
.parentMenu {
  cursor: pointer;
  position: relative;
}
.parentMenu:hover {
  overflow: visible;
}

.parentMenu:hover .childMenu {
  opacity: 1;
  pointer-events: all;
  display: flex;
  transform: translate(0, 40px);
}
.parentMenu:hover .arrow {
  transform: rotate(180deg);
}

.slidershadow {
  margin-bottom: 50px;
  align-items: center;
  overflow: hidden;

  position: relative;
}
.slidershadow::before {
  content: "";
  z-index: 5;
  width: 50px;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  padding: 20px;
  background-color: var(--bgcolor);
}
.slidershadow::after {
  content: "";
  z-index: 5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  position: absolute;
  padding: 20px;
  background-color: var(--bgcolor);
}
.slick-center .Services_card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
  scale: 1.3;
}

#hexagon {
  width: 100px;

  height: 60px;
  background: #ffffff;
  position: absolute;
  top: -20px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* paralax */
.pwrapper {
  margin: 20px 0px;
  overflow: hidden;
}
.parallax {
  width: 100%;
  height: 1760rem;
}
.thisOne {
  background: linear-gradient(-45deg, #e74615, #c90e56);
  background-size: 400% 400%;

  width: 100%;
  position: relative;
  height: 100vh;
  opacity: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: 0.1s ease;
  align-items: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.thisOne .Heading {
  position: absolute;
}

.contentparalax {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contentparalax .uppert {
  padding-right: 450px;

  margin-bottom: 60px;
}
.contentparalax .lowert {
  width: 100%;
}
.contentparalax .lowert {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummyimage {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  transition: 0.5s;
  justify-content: flex-start;
  align-items: center;
}

.titlehover {
  width: 500px !important;
  height: 360px !important;
  padding: 10px 12px !important;
  background: url("./Assets/tab.png") no-repeat !important;
  background-size: cover !important;
  margin: 0 !important;
  border-radius: 13px !important;
  transform: perspective(1000px) translateX(var(--transformx))
    translateY(var(--transformy)) rotateX(var(--rotatex))
    rotateY(var(--rotatey)) scale(var(--scale));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  pointer-events: none;
}

.titlehover2 {
  width: 172px !important;
  height: 340px !important;
  background: url("./Assets/mobile.png") no-repeat !important;
  background-size: cover !important;
  margin: 0 !important;
  padding: 10px 8px !important;
  border-radius: 23px !important;
  transform: perspective(1000px) translateX(var(--transformx))
    translateY(var(--transformy)) rotateX(var(--rotatex))
    rotateY(var(--rotatey)) scale(var(--scale));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  pointer-events: none;
}

.innerbox {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding: 0;
  transform: translateY(var(--imagescrolly));
}

.innerbox2 {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding: 0;
  transform: translateY(var(--imagescrolly2));
}

.innerbox img {
  width: 100%;
  height: 100%;
}

.slider-track {
  animation: scroll 20s linear infinite;
}
.slider-track:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}
