@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}


/* ================theme================= */
img {
  pointer-events: none
} 
:root
{
    --bgcolor:#0e1012;
    --bgcolorl:#161a1d;
    --pink:#d2478f;
    --blue:#1dabda;
    --blue2:#922D50;
    --dark_bg: rgba(0, 0, 0, 0.808);
    --white:#fff;
    --textcolor: rgb(193, 192, 192);
}

/* light theme */
:root:has(.light)
{
    --bgcolor:#d4ece5;
    --bgcolorl:rgb(255, 255, 255);

    --pink:#ed0a71;
    --blue:#033b59;
    --blue2:#8D818C;
    --dark_bg:#ffffffc9;
    --white:rgb(0, 0, 0);
    --textcolor: rgb(68, 68, 68);


}
.mw{
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-top: 100px;
}
html
{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bgcolor);
    width: 100%;
    overflow-x: hidden;
}

::selection{
    background-color: rgb(225, 225, 225);
    color: rgb(18, 18, 18);
   
}

/* ============scrollbar=========== */
::-webkit-scrollbar {
    width: 10px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(79, 79, 79); 
  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 51); 
  }
/* 
  .border{
    
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  
      
    }
  .border:hover{
    
  border-top: 5px solid var(--pink);
  border-bottom: 5px solid var(--pink);

    
  } */
.landingpage{
    position: relative;
    z-index: 4444;
    box-sizing: border-box;

   
  

}
#afterloading:has(.light) .landingpage{
  position: relative;
  box-sizing: border-box;
 

}


/* =============preloader====================== */

#loading
{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;

}
svg{
	font-weight: 700;
	position: absolute; 
	width: 100%; 
  height: 100%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 140px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


/* ===========after Loading================ */
#afterloading {
  transition: .5s ease-in-out;

  display: none;
}

/* Blank spot */
.blankspot{
  width: 100%;
 /* height: 8vh; */
}


.iconimg svg
{
  width: 20px;
  position: relative;
  margin: 0px 20px;
  overflow: hidden;
}
